.bkL > .no {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
}

.no {
    float: left;
}

.aeN {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-width: 256px !important;
    min-width: 256px !important;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.aeN {
    position: relative;
    margin-top: 0;
}

.nn {
    min-height: 1px;
    float: left;
}

.aj9, .aib {
    margin-left: 0 !important;
}

.pp {
    margin: 0 0 0 25px;
}

.aeN .akc, .oo {
    margin-right: 0;
}

.aeN .akc, .oo {
    margin-right: 16px;
}

.nM {
    position: relative;
    font-size: 13px;
}

.aic {
    margin: 0;
    overflow: hidden;
}

.z0 {
    height: 48px;
    margin: 16px 0;
    padding: 0 0 0 24px;
}

.aeN .z0 > .L3 {
    -webkit-transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.z0 > .L3 {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    -webkit-font-smoothing: antialiased;
    letter-spacing: .15px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #5f6368;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 48px;
    margin-left: -14px;
    padding: 0 24px 0 0;
    text-transform: none;
}

.z0 > .L3:hover, .z0 > .L3:focus {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
    background-color: #fafafb;
}

.z0 .T-I {
    min-width: 88px;
}

.T-I:not(.T-I-JE), .J-JN-M-I:not(.J-JN-M-I-JE) {
    cursor: pointer;
}

.z0 .T-I {
    min-width: 97px;
    margin-right: 0;
}

.T-I-KE {
    -webkit-transition: background .28s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow .28s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: background .28s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow .28s cubic-bezier(0.4, 0.0, 0.2, 1);
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: 500;
    height: 32px;
    letter-spacing: .2px;
    line-height: 32px;
    min-width: 48px;
    padding: 0 16px;
}

.T-I {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    line-height: 18px;
    min-width: auto;
    padding: 0;
}

.T-I-KE {
    background-color: #db4437;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top, transparent, transparent);
    background-image: -webkit-linear-gradient(to bottom, transparent, transparent);
    background-image: linear-gradient(to bottom, transparent, transparent);
    border: 1px solid transparent;
    border: 1px solid transparent;
    color: #fff;
}

.T-I-KE {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #db4437;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top, transparent, transparent);
    border: 1px solid transparent;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
}

.T-I {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 18px;
    line-height: 18px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
}

.J-J5-Ji {
    position: relative;
    display: inline-block;
}

.J-J5-Ji {
    display: -moz-inline-box;
    display: inline-block;
}

.z0 > .L3::before {
    background-image: url(../images/add.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    content: '';
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 48px;
    margin-right: 10px;
    width: 48px;
}

.aeN .ajl {
    overflow: hidden;
}

.aeN .ajl {
    overflow-y: auto;
}

.aj9, .aib {
    margin-left: 0 !important;
}

.wT {
    padding-right: 0;
    max-width: 240px;
    min-width: 240px;
}

.TK {
    overflow: visible;
}

.TK {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aim, .ain {
    padding-left: 0;
}

.ain {
    border-left: 0 solid #202124;
}

.wT > .n3 .byl:first-child .aim:first-child .nZ {
    background-color: #fce8e6;
}

.TO.nZ {
    -webkit-box-shadow: inset 0 0 0 1px transparent;
    box-shadow: inset 0 0 0 1px transparent;
}

.TK .TO:active, .n6 .ah9.aiu:active, .CL:active, .TO.nZ, .TO.ol {
    background-color: #e8eaed;
}

.TK .TO {
    -webkit-transition: border-radius .15s cubic-bezier(0.4, 0.0, 0.2, 1), margin .15s cubic-bezier(0.4, 0.0, 0.2, 1), width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: border-radius .15s cubic-bezier(0.4, 0.0, 0.2, 1), margin .15s cubic-bezier(0.4, 0.0, 0.2, 1), width .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.TK .TO, .n6 .ah9, .CL {
    -webkit-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.TO {
    padding-left: 0;
}

.aiq {
    margin-left: 0;
}

.nZ {
    background: rgba(0, 0, 0, 0.059);
}

.TO {
    padding-left: 0;
    padding-right: 0;
}

.TN {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    padding: 0 8px 0 24px;
    -webkit-transition: margin .15s cubic-bezier(0.4, 0.0, 0.2, 1), padding .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: margin .15s cubic-bezier(0.4, 0.0, 0.2, 1), padding .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.TN {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}

.nZ > .aHS-bnt > .qj, .nZ.aS3 .qj, .nZ.aS4 .qj, .nZ.aS5 .qj, .nZ.aS6 .qj {
    opacity: 1;
}

.nZ > .aHS-bnt .qj, .aHS-bnt .qj::before {
/ / background-image: url(https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.aHS-bnt .qj {
/ / background-image: url(https://www.gstatic.com/images/icons/material/system/1x/inbox_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.qr {
    border-color: #000;
}

.qj {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 20px;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-right: 24px;
    opacity: .54;
    width: 20px;
}

.qj {
    display: none;
}

.nZ > .aHS-bnt .qj, .aHS-bnt .qj::before {
/ / background-image: url(https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.TN > .aio {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
    line-height: 20px;
}

.aio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0;
    color: #202124;
}

.nZ .nU, .nZ .n0 {
    color: #202124;
    font-weight: bold;
}

.nU {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin-right: auto;
}

.nU {
    cursor: pointer;
    margin-right: 0;
    vertical-align: middle;
}

.byl .TO.nZ > .aHS-bnt .n0, .nZ > .aHS-bnt .bsU {
    color: #d93025;
}

.TO .nU > .n0, .TO.NQ .nU > .n0, .TO.nZ .nU > .n0, .ah9 > .CJ, .n3 > .CL > .CK {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: .2px;
    color: #202124;
    text-shadow: none;
}

.nZ.TO .n0 {
    color: #202124;
    text-shadow: none;
}

.TO .n0 {
    color: #202124;
}

.TO .n0 {
    color: #202124;
}

.nZ .nU, .nZ .n0 {
    color: #202124;
    font-weight: bold;
}

.n0 {
    text-shadow: none;
}

.n0 {
    cursor: pointer;
    color: #202124;
    text-decoration: none;
}

.nL {
    height: auto;
    margin: 0;
    position: relative;
    top: inherit;
    width: auto;
}

.aif {
    left: 0;
}

.nL {
    position: absolute;
    display: inline-block;
    width: 11px;
    height: 11px;
    top: 50%;
    margin-top: -5px;
}

.NQ {
    background: #eee;
    cursor: pointer;
}

.bkK {
    overflow: hidden;
    width: 100% !important;
}

.nn {
    min-height: 1px;
    float: left;
}

.G-atb {
    -webkit-align-items: center;
    align-items: center;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 16px 0 0 !important;
    padding: 0 16px 0 16px;
    -webkit-transition: box-shadow .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: box-shadow .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.G-atb {
    margin-top: 4px;
    margin-left: -400px;
    padding: 0 32px 9px 400px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

.G-atb {
    background: none;
    border-bottom: 1px solid #e5e5e5;
}

.G-atb {
    -webkit-align-items: center;
    align-items: center;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 16px 0 0 !important;
    padding: 0 16px 0 16px;
    -webkit-transition: box-shadow .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: box-shadow .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.G-atb {
    margin-top: 4px;
    margin-left: -400px;
    padding: 0 32px 9px 400px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

.G-atb {
    background: none;
    border-bottom: 1px solid #e5e5e5;
}

.G-atb {
    -webkit-align-items: center;
    align-items: center;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 16px 0 0 !important;
    padding: 0 16px 0 16px;
    -webkit-transition: box-shadow .15s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: box-shadow .15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.G-atb {
    margin-top: 4px;
    margin-left: -400px;
    padding: 0 32px 9px 400px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

.G-atb {
    background: none;
    border-bottom: 1px solid #e5e5e5;
}

.aqL {
    white-space: nowrap;
}

.Cq {
    float: left;
}

.AO {
    position: relative;
}

.aeJ {
    background: white;
    overflow-y: scroll;
}

.aeJ, .age {
    padding-right: 0;
}

.aeF {
    padding: 0;
    vertical-align: bottom;
}

.zt, .zt > tbody {
    display: block;
}

.F {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
}

.cf {
    border-collapse: collapse;
}

.zt, .zt > tbody {
    display: block;
}

.zA {
    padding-bottom: 4px;
    padding-top: 4px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.yO {
    background: rgba(242, 245, 245, 0.8);
    color: #202124;
}

.zA {
    color: #202124;
    cursor: pointer;
}

.zA > .PF {
    background: none;
    border: none;
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    order: -1;
}

.zA > .xY {
    -webkit-align-items: center;
    align-items: center;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    line-height: 20px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order: 1;
    padding: 0;
}

.PF {
    width: 2px;
    background: transparent;
}

.TC, .xY {
    padding-top: 0;
    padding-bottom: 0;
}

.xY {
    border-bottom: 1px rgba(100, 121, 143, 0.122) solid;
    empty-cells: show;
    font-size: 14px;
    height: 20px;
    outline: none;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.x7 {
    color: #202124;
    background: #c2dbff;
}