// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none
}

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
  margin: 0
}
